.full-screen {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.viewport {
  z-index: 1000;
  margin: 10px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  border: 1px solid $highlight-color;
}

.content-component {
  border-radius: 8px;
  overflow: hidden;
  background-color: $embedded-frame-background;

  .bottom-controls {
    position: absolute;
    right: 1em;
    bottom: 1em;

    button {
      background: #3b3d42;
      padding: 5px;
      margin: 0;
      transition: 0.2s linear all;

      &:hover {
        background-color: lighten(#3b3d42, 10%);
      }

      svg {
        width: 24px;
        height: 24px;
        pointer-events: none;
      }
    }
  }
}
