.full-screen {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.viewport {
  z-index: 1000;
  margin: 10px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  border: 1px solid $highlight-color;
}
