.full-screen {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.viewport {
  z-index: 1000;
  margin: 10px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  border: 1px solid $highlight-color;
}

.content-component {
  display: flex;
  flex-direction: column;

  .content {
    flex: 1 1 auto;
    min-height: 0; // wichtig für Canvas / Overflow
    overflow: hidden;
  }

  .bottom-controls {
    flex: 0 0 auto;
    display: flex;
    padding-top: 1em;
    justify-content: end;

    &.is-full-screen {
      padding: 1em;
    }

    button {
      background: #3b3d42;
      padding: 5px;
      margin: 0;
      transition: 0.2s linear all;

      &:hover {
        background-color: lighten(#3b3d42, 5%);
      }

      svg {
        width: 24px;
        height: 24px;
        pointer-events: none; // verhindert doppeltes Hover
      }
    }
  }
}
