.avatar {
  @media #{$media-size-phone} {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 100px;
  float: right;
  margin: 10px;
}

.embedded {
  border: 0;
  position: relative;

  .frame {
    border: 0;
    padding: 1em;
    background: #2b2b2b;
    border-radius: 8px;
  }

  .description {
    display: block;
    font-size: 12px;
  }

  .openInNewTab {
    display: block;
    margin-bottom: 1em;
  }

  @media #{$media-size-phone} {
    width: 100%;
    float: none;
    margin-right: auto;
    margin-left: auto;
    display: block;

    .description,
    .openInNewTab,
    .frame {
      width: 100% !important;
    }
  }

  &.float-right {
    @media #{$media-size-phone} {
      float: none;
      margin: inherit;
    }
    float: right;
    margin: 10px;
  }
}

.full-screen {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.viewport {
  margin: 10px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  border: 1px solid #cc7832;
}
