@mixin font-face(
  $family,
  $path,
  $file,
  $weight,
  $style,
  $display: auto
) {
  @font-face {
    font-family: $family;
    font-style: $style;
    font-weight: $weight;
    font-display: $display;
    src: url('#{$path}/#{$file}.woff2') format('woff2'),
      url('#{$path}/#{$file}.woff') format('woff');
  }
}

@mixin inter-fonts($path) {
  // 400
  @include font-face('Inter', $path, 'Inter-Regular', 400, normal);
  @include font-face('Inter', $path, 'Inter-Italic', 400, italic);

  // 600
  @include font-face('Inter', $path, 'Inter-Medium', 600, normal);
  @include font-face(
    'Inter',
    $path,
    'Inter-MediumItalic',
    600,
    italic
  );

  // 800
  @include font-face('Inter', $path, 'Inter-Bold', 800, normal);
  @include font-face('Inter', $path, 'Inter-BoldItalic', 800, italic);
}

@mixin jetbrains-mono-fonts($path) {
  // Thin 100
  @include font-face(
    'JetBrains Mono',
    $path,
    'JetBrainsMono-Thin',
    100,
    normal
  );
  @include font-face(
    'JetBrains Mono',
    $path,
    'JetBrainsMono-ThinItalic',
    100,
    italic
  );

  // ExtraLight 200
  @include font-face(
    'JetBrains Mono',
    $path,
    'JetBrainsMono-ExtraLight',
    200,
    normal
  );
  @include font-face(
    'JetBrains Mono',
    $path,
    'JetBrainsMono-ExtraLightItalic',
    200,
    italic
  );

  // Light 300
  @include font-face(
    'JetBrains Mono',
    $path,
    'JetBrainsMono-Light',
    300,
    normal
  );
  @include font-face(
    'JetBrains Mono',
    $path,
    'JetBrainsMono-LightItalic',
    300,
    italic
  );

  // Regular 400
  @include font-face(
    'JetBrains Mono',
    $path,
    'JetBrainsMono-Regular',
    400,
    normal
  );
  @include font-face(
    'JetBrains Mono',
    $path,
    'JetBrainsMono-Italic',
    400,
    italic
  );

  // Medium 500
  @include font-face(
    'JetBrains Mono',
    $path,
    'JetBrainsMono-Medium',
    500,
    normal
  );
  @include font-face(
    'JetBrains Mono',
    $path,
    'JetBrainsMono-MediumItalic',
    500,
    italic
  );

  // SemiBold 600
  @include font-face(
    'JetBrains Mono',
    $path,
    'JetBrainsMono-SemiBold',
    600,
    normal
  );
  @include font-face(
    'JetBrains Mono',
    $path,
    'JetBrainsMono-SemiBoldItalic',
    600,
    italic
  );

  // Bold 700
  @include font-face(
    'JetBrains Mono',
    $path,
    'JetBrainsMono-Bold',
    700,
    normal
  );
  @include font-face(
    'JetBrains Mono',
    $path,
    'JetBrainsMono-BoldItalic',
    700,
    italic
  );

  // ExtraBold 800
  @include font-face(
    'JetBrains Mono',
    $path,
    'JetBrainsMono-ExtraBold',
    800,
    normal
  );
  @include font-face(
    'JetBrains Mono',
    $path,
    'JetBrainsMono-ExtraBoldItalic',
    800,
    italic
  );
}
