@mixin inter-font($path, $weight, $style, $file) {
  @font-face {
    font-family: 'Inter';
    font-style: $style;
    font-display: auto;
    font-weight: $weight;
    src: url('#{$path}/#{$file}.woff2') format('woff2'),
      url('#{$path}/#{$file}.woff') format('woff');
  }
}

@mixin inter-fonts($path) {
  // 400
  @include inter-font($path, 400, normal, 'Inter-Regular');
  @include inter-font($path, 400, italic, 'Inter-Italic');

  // 600
  @include inter-font($path, 600, normal, 'Inter-Medium');
  @include inter-font($path, 600, italic, 'Inter-MediumItalic');

  // 800
  @include inter-font($path, 800, normal, 'Inter-Bold');
  @include inter-font($path, 800, italic, 'Inter-BoldItalic');
}
