{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 70,
  "tabWidth": 2,
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react$",
    "<THIRD_PARTY_MODULES>",
    "",
    "",
    "maths/(.*)$",
    "helper/(.*)$",
    "hooks/(.*)$",
    "",
    "components/(.*)$",
    "scenes/(.*)$",
    "",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
