.avatar {
  @media #{$media-size-phone} {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 100px;
  float: right;
  margin: 10px;
}

.embedded-iframe {
  border: 0;
  margin: 10px;
  border-radius: 8px;
  padding: 1em;
  background: #2b2b2b;

  @media #{$media-size-phone} {
    width: 100%;
    float: none;
    margin-right: auto;
    margin-left: auto;
    display: block;
  }

  &.float-right {
    @media #{$media-size-phone} {
      float: none;
    }
    float: right;
  }
}