{{ $src := .Get "src" }}
{{ $height := .Get "height" | default "300px" }}
{{ $width := .Get "width" | default "100%" }}
{{ $class := .Get "class" }}
{{ $description := .Get "description" }}
{{ $openInNewTab := .Get "openInNewTab" | default "true" }}
{{ $fullscreen := .Get "fullscreen" | default "true" }}

{{ $fullPath := cond (strings.HasPrefix $src "http") $src (printf "%s/%s" .Site.BaseURL $src) }}

<div class="embedded {{ $class }}">

  {{ if eq (lower $openInNewTab) "true" }}
  <a href="{{ $fullPath }}" class="openInNewTab" style="width: {{ $width }}" target="_blank">Click here to open in a new tab</a>
  {{ end }}

  <div class="embedded-frame" data-embedded-frame style="width: {{ $width }}">
    <iframe
      src="{{ $fullPath }}"
      width="100%"
      height="{{ $height }}"
      class="frame"
      allow="{{ .Get "allow" | default "fullscreen; pointer-lock; gamepad" }}"
      allowfullscreen
    ></iframe>

    {{ if eq (lower $fullscreen) "true" }}
    <div class="bottom-controls">
      <button type="button" data-embedded-frame-fullscreen aria-label="Toggle fullscreen">
        {{ partial "fullscreen-icons.html" . }}
      </button>
    </div>
    {{ end }}
  </div>

  {{ if $description }}
  <div class="description" style="width: {{ $width }}">{{ $description }}</div>
  {{ end }}
</div>
