{{ $src := .Get "src" }}
{{ $height := .Get "height" | default "300px" }}
{{ $width := .Get "width" | default "100%" }}
{{ $class := .Get "class" }}
{{ $description := .Get "description" }}
{{ $openInNewTab := .Get "openInNewTab" | default "true" }}

{{ $fullPath := printf "%s/%s" .Site.BaseURL $src }}

<div class="embedded {{ $class }}">

  {{ if eq (lower $openInNewTab) "true" }}
  <a href="{{ $fullPath }}" class="openInNewTab" style="width: {{ $width }}" target="_blank">Click here to open in a new tab</a>
  {{ end }}

  <iframe
    src="{{ $fullPath }}"
    width="{{ $width }}"
    height="{{ $height }}"
    style="border: 0"
    class="frame"
  ></iframe>

  {{ if $description }}
  <div class="description" style="width: {{ $width }}">{{ $description }}</div>
  {{ end }}
</div>