{{/* Get file path (positional parameter) */}}
{{ $file := .Get 0 }}
{{ $path := printf "src/content/%s" $file }}
{{ $content := readFile $path }}

{{ $ext := path.Ext $file }}
{{ $ext = lower $ext }}
{{ $ext = trim $ext "." }}

{{ $lang := $ext }}
{{ if eq $ext "js" }}{{ $lang = "javascript" }}{{ end }}
{{ if eq $ext "ts" }}{{ $lang = "typescript" }}{{ end }}
{{ if eq $ext "html" }}{{ $lang = "html" }}{{ end }}
{{ if eq $ext "css" }}{{ $lang = "css" }}{{ end }}
{{ if eq $ext "glsl" }}{{ $lang = "glsl" }}{{ end }}

<p>
    If you want to run the demo locally, clone this
    <a href="https://github.com/geforcefan/ercanakyuerek.de" target="_blank">repository</a>,
    run <code>npm install</code> and <code>npm run dev-scripts</code>,
    then open this
    <a href="http://localhost:3000/{{ $file }}" target="_blank">link</a>
    in your browser.
</p>

{{ printf "<pre><code class=\"language-%s\">" $lang | safeHTML }}{{ $content }}{{ "</code></pre>" | safeHTML }}

